body {
  /*font-family: sans-serif;*/
  color: #333;
}

div.outer_box {
  width: 650px;
  padding: zz50px;
  margin: 0px auto;
}

div.header_box {
  margin-bottom: 100px;
}

h1.title_name {
  text-align: center;
  font-weight: 600;
}

div.title_spacer {
  min-height: 20px;
}

h3.author_name {
  text-align: center;
  font-weight: 600;
}

div.abstract_box {
  margin-top: 50px;
}

h4.abstract_head {
  text-align: center;
}

p.abstract_body {
  line-height: 160%;
  /*text-align: justify;*/
}

p.paragraph_box {
  line-height: 160%;
  margin-top: 20px;
}

div.equation_box {
  display: table;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

div.equation_inner {
 display: table-cell;
}

div.equation_number {
  display: table-cell;
  vertical-align: middle;
  width: 20px;
  color: red;
}

div.section_box {
  margin-top: 60px;
  margin-bottom: 0px;
}

h2.section_title {
  text-align: center;
  font-weight: 400;
}

div.subsection_box {
  margin-top: 40px;
  margin-bottom: 0px;
}

h3.subsection_title {
  text-align: center;
  font-weight: 400;
}

sup.footnote_mark {
  color: blue;
  cursor: pointer;
}

img.media {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 85%;
}

div.figure_box {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

h3.figure_title {
  text-align: center;
  font-weight: 600;
}

p.figure_caption {
  margin: 15px;
}

div.table_box {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

h3.table_title {
  text-align: center;
  font-weight: 600;
}

table.dataframe {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

thead.df_thead {
}

tbody.df_tbody {
}

table.dataframe td {
  padding: 5px;
  text-align: center;
  border: 1px solid #BBB;
}

table.dataframe thead td {
  border: 1px solid #777;
  font-weight: 600;
}

div.item_box {
  padding-left: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
}

span.ref_text {
  color: blue;
  cursor: pointer;
}

a.cite_link {
  color: blue;
  cursor: pointer;
}

a.cite_link:hover {
  text-decoration: none;
}

div.footnote_popup {
  display: none;
  position: absolute;
  color: black;
  border: 1px solid #888;
  background-color: #EEE;
  opacity: 90%;
  z-index: 2;
  padding: 4px;
}

div.sec_popup {
  display: none;
  position: absolute;
  color: black;
  border: 1px solid #888;
  background-color: #EEE;
  opacity: 90%;
  z-index: 2;
  padding: 4px;
}

div.eqn_popup {
  display: none;
  position: absolute;
  color: black;
  border: 1px solid #888;
  background-color: #EEE;
  opacity: 90%;
  z-index: 2;
  padding: 4px;
}

div.fig_popup {
  display: none;
  position: absolute;
  color: black;
  border: 1px solid #888;
  background-color: white;
  opacity: 90%;
  z-index: 2;
  padding: 4px;
  -webkit-transform-origin: top left;
}

div.tab_popup {
  display: none;
  position: absolute;
  color: black;
  border: 1px solid #888;
  background-color: white;
  opacity: 90%;
  z-index: 2;
  padding: 4px;
  -webkit-transform-origin: top left;
}

div.cite_popup {
  display: none;
  position: absolute;
  color: black;
  border: 1px solid #888;
  background-color: #EEE;
  opacity: 90%;
  z-index: 2;
  padding: 4px;
  text-decoration: none;
}

div.popup {
  display: none;
  position: absolute;
  color: black;
  border: 1px solid #888;
  background-color: #EEE;
  opacity: 90%;
  z-index: 2;
  padding: 4px;
  font-weight: normal;
}

div.bibliography_box {
  margin-top: 60px;
  margin-bottom: 0px;
}

h2.bibliography_head {
  text-align: center;
  font-weight: 400;
 }

div.bibliography_item {
  margin-top: 20px;
}
