.elltwo {
  font-size: 17px;
  margin: 0px;
}

.elltwo * {
  line-height: 160%;
}

.elltwo p {
  margin-top: 20px;
}

.elltwo a {
  text-decoration: none;
}

.elltwo a:focus {
  outline: 0px;
}

.elltwo header {
  margin-bottom: 80px;
}

.elltwo header h1,h2,h3,h4,h5,h6
{
  text-align: center;
}

.elltwo img {
   height: auto;
   width: 100%;
}

.elltwo p.author {
  text-align: center;
}

.elltwo p.abstract {
}

.elltwo div.equation_box {
  margin-top: 20px;
  margin-bottom: 20px;
}

.elltwo div.equation_inner {
  text-align: center;
}

.elltwo div.equation_number {
  position: absolute;
  margin-left: -60px;
  margin-top: -17px;
  vertical-align: middle;
  width: 20px;
  color: #888;
}

.elltwo sup.footnote_mark {
  color: blue;
  cursor: pointer;
}

.elltwo figure {
  margin-left: auto;
  margin-right: auto;
}

.elltwo figure.laside {
  float: left;
  margin: 0px 20px 20px -200px;
  width: 400px;
}

.elltwo figure.raside {
  float: right;
  margin: 0px -200px 20px 20px;
  width: 400px;
}

.elltwo figure.thin {
  width: 90%;
  margin-left: 5%;
}

.elltwo figure.wide {
  width: 130%;
  margin-left: -15%;
}

.elltwo ul {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 10px;
}

.elltwo ol {
  padding-left: 20px;
  padding-right: 10px;
}

.elltwo li {
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.elltwo section {
  margin-top: 50px;
}

.elltwo section > .title:before {
  content: attr(sec-num) " ";
}

.elltwo section.noprefix > .title:before {
  content: '';
}

.elltwo figure > .title:before {
  content: "Figure " attr(image-num) ": ";
}

.elltwo figure.table > .title:before {
  content: "Table " attr(table-num) ": ";
}

.elltwo figure.table > table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

.elltwo figure.table > table > thead {
  font-weight: bold;
}

.elltwo figure.table > table > tbody {
}

.elltwo figure.table > table td {
  padding: 5px;
  text-align: center;
  border: 1px solid #BBB;
}

.elltwo figure.table > table > thead > td {
  border: 1px solid #777;
  font-weight: 600;
}

.elltwo span.ref_text {
  color: blue;

}

.elltwo a.ref_link {
  color: blue;
  text-decoration: none;
  cursor: pointer;
}

.elltwo a.fig_link {
}

.elltwo a.tab_link {
}

.elltwo a.eqn_link {
}

.elltwo a.sec_link {
}

.elltwo a.subsec_link {
}

.elltwo a.cite_link {
  color: blue;
  text-decoration: none;
  cursor: pointer;
}

.elltwo div.popup_outer {
  display: none;
  position: absolute;
  z-index: 2;
  opacity: 0.90;
  cursor: auto;
}

.elltwo div.popup {
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  line-height: 150%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 4px;
  border: 0px;
  background-color: black;
  /*opacity: 0.95;*/
  color: white;
  max-width: 300px;
  margin-bottom: 6px;
}

.elltwo div.popup:after {
  position: absolute;
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  border-color: transparent;
  border-top-color: black;
  border-width: 6px;
  margin-left: -6px;
  margin-top: -6px;
}

.elltwo div.footnote_popup {
}

.elltwo div.footnote_popup a {
  color: #2ECCFA;
}

.elltwo div.sec_popup {
}

.elltwo div.eqn_popup {
  font-size: 17px;
  max-width: none;
  padding-top: 15px;
  padding-bottom: 15px;
}

.elltwo div.fig_popup {
}

.elltwo div.tab_popup {
}

.elltwo div.cite_popup {
}

.elltwo div.bibliography_box {
  margin-top: 30px;
  margin-bottom: 20px;
}

.elltwo div.bibliography_item {
  margin-top: 20px;
}

ul > lh {
  margin-left: -20px;
}

/* media query stuff */

@media only screen and (max-device-width: 799px) {
  .elltwo div.content {
    padding: 15px;
  }

  .elltwo div.equation_box {
    max-width: 100% !important;
  }

  .elltwo div.equation_number {
    float: right;
  }

  .elltwo div.equation_inner {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    max-width: 100% !important;
  }
}

@media only screen and (min-device-width: 800px) {
  .elltwo div.content {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 50px;
  }

  .elltwo div.equation_box {
    display: table;
    width: 100%;
  }

  .elltwo div.equation_number {
    display: table-cell;
  }

  .elltwo div.equation_inner {
    display: table-cell;
  }

  .elltwo div.equation_inner div.equation_row:not(:first-child) {
    margin-top: 20px;
  }
}
