body {
  /*font-family: "Open Sans";*/
  font-family: "proxima-nova";
  font-size: 17px;
}

p.paragraph_box {
  /*text-align: justify;*/
}

div.fact_box {
  margin-top: 20px;
  margin-bottom: 20px;
}

div.proposition_box {
  margin-top: 20px;
  margin-bottom: 20px;
}

div.proposition_popup {
}

div.proof_box {
  margin-top: 20px;
  margin-bottom: 20px;
}

div.table_popup {
  background-color: white;
}
