body {
  font-family: "proxima-nova";
}

h4.abstract_head {
  font-size: 20px;
  font-weight: 400;
}

p.abstract_body {
  margin-top: 20px;
  text-align: justify;
}

div.fact_box {
  margin-top: 20px;
  margin-bottom: 20px;
}

div.proposition_box {
  margin-top: 20px;
  margin-bottom: 20px;
}

div.proposition_popup {
}

div.proof_box {
  margin-top: 20px;
  margin-bottom: 20px;
}

div.table_popup {
  background-color: white;
}
