@media (max-width: 800px) {
  .elltwo {
    overflow-x: hidden;
    max-width: 100% !important;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

@media (min-width: 800px) {
  .elltwo {
    background-color: #C8C8C8;
  }

  .elltwo div.content {
    max-width: 700px;
    margin: 0px auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 1px 1px 4px #AAA, 0 0 1em #AAA, 2px 2px 0.5em #AAA;
    border-left: 1px solid #BBB;
    border-right: 1px solid #BBB;
    background-color: white;
    color: #333;
  }
}
