body {
  font-family: "Open Sans",sans-serif;
  color: #333;
}

div.outer_box {
  width: 650px;
  padding: 50px;
  margin: 0px auto;
}

img.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

img.slim {
  width: 540px;
  height: auto;
}

h1.title_name {
  text-align: center;
  font-weight: 600;
}

div.title_spacer {
  min-height: 20px;
}

h3.author_name {
  text-align: center;
  font-weight: 600;
}

p.paragraph_box {
  line-height: 160%;
  margin-top: 20px;
}

div.equation_box {
  display: table;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

div.equation_inner {
 display: table-cell;
}

div.equation_number {
  display: table-cell;
  vertical-align: middle;
  width: 20px;
  color: red;
}

div.section_box {
  margin-top: 40px;
  margin-bottom: 0px;
}

h2.section_title {
  text-align: center;
  font-weight: 400;
}

div.subsection_box {
  margin-top: 40px;
  margin-bottom: 0px;
}

h3.subsection_title {
  text-align: center;
  font-weight: 400;
}

sup.footnote_mark {
  color: blue;
  cursor: pointer;
}

div.figure_box {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
}

h3.figure_title {
  text-align: center;
  font-weight: 600;
}

p.figure_caption {
  margin: 15px;
}

div.table_box {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
}

h3.table_title {
  text-align: center;
  font-weight: 600;
}

table.dataframe {
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border: 1px solid black;
}

table.dataframe td {
  padding: 5px;
  text-align: center;
  border: 1px solid black;
}

table.dataframe thead td {
  border: 1px solid black;
  font-weight: 600;
}

div.item_box {
  padding-left: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
}

span.ref_text {
  color: blue;
  cursor: pointer;
}

span.cite_text {
  color: blue;
  cursor: pointer;
}

div.footnote_popup {
  display: none;
  position: absolute;
  color: black;
  border:1px solid #888;
  background-color: #EEE;
  opacity: 90%;
  z-index: 2;
  padding: 4px;
}

div.sec_popup {
  display: none;
  position: absolute;
  color: black;
  border:1px solid #888;
  background-color: #EEE;
  opacity: 90%;
  z-index: 2;
  padding: 4px;
}

div.eqn_popup {
  display: none;
  position: absolute;
  color: black;
  border:1px solid #888;
  background-color: #EEE;
  opacity: 90%;
  z-index: 2;
  padding: 4px;
}

div.fig_popup {
  display: none;
  position: absolute;
  color: black;
  border:1px solid #888;
  background-color: white;
  opacity: 90%;
  z-index: 2;
  padding: 4px;
  -webkit-transform-origin: top left;
}

div.cite_popup {
  display: none;
  position: absolute;
  color: black;
  border:1px solid #888;
  background-color: #EEE;
  opacity: 90%;
  z-index: 2;
  padding: 4px;
}

div.popup {
  display: none;
  position: absolute;
  color: black;
  border:1px solid #888;
  background-color: #EEE;
  opacity: 90%;
  z-index: 2;
  padding: 4px;
  font-weight: normal;
}
