div.fact_box {
  margin-top: 20px;
  margin-bottom: 20px;
}

div.proposition_box {
  margin-top: 20px;
  margin-bottom: 20px;
}

div.proposition_popup {
}

div.proof_box {
  margin-top: 20px;
  margin-bottom: 20px;
}
